@media (min-width: 450px) and (max-width: 750px){
    .container{
        width: 500px;
        margin: 0 auto;
        max-width: 90%;
    }

    .navigation-menu .logo{
        padding-left: 0;
        font-size: 1.2rem;
    }

    .theme-changer select{
        width: 120px;
    }

    .mobile .Hamburger span{
        width: 22px;
        height: 1px;
    }

    .main .container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
        height: 800px;
    }

    .main-text h2{
        font-size: 2.5rem;
    }
    
    .main-text .typing{
        font-size: 1.5rem;
    }



}

@media (min-width: 0px) and (max-width: 450px){
    .container{
        width: 350px;
        margin: 0 auto;
        max-width: 90%;
    }

    .navigation-menu .logo{
        padding: 0 1rem;
        font-size: 1rem;
    }

    .theme-changer select{
        width: 100px;
    }

    .mobile .Hamburger span{
        width: 22px;
        height: 1px;
        margin-left: 4rem;
    }

    .main .container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
        height: 600px;
    }

    .main-text h2{
        font-size: 2.6rem;
    }
    
    .main-text .typing{
        font-size: 1.5rem;
    }

}