@media (min-width: 450px) and (max-width: 750px){
    .container{
        width: 500px;
        margin: 0 auto;
        max-width: 90%;
    }

    .navigation-menu .logo{
        padding-left: 0;
        font-size: 1.2rem;
    }

    .theme-changer select{
        width: 120px;
    }

    .mobile .Hamburger span{
        width: 22px;
        height: 1px;
    }

    .main .container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
        height: 800px;

    }

    .main-photo img{
        height: 300px;
    }

    .main-text h2{
        font-size: 3rem;
    }
    
    .main-text .typing{
        font-size: 1.5rem;
    }

    .footer .container h3{
        font-size: .8rem;
    }

    .about .container{
        height: 4600px;
    }

    .about .my-education .education, .my-skills .skills{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: .7rem;
        margin-right: 4rem ;
    }

    .my-certificates .certificates{
        grid-template-columns: 1fr;
    }

}

@media (min-width: 0px) and (max-width: 450px){
    .container{
        width: 400px;
        margin: 0 auto;
        max-width: 90%;
    }

    .navigation-menu .logo{
        font-size: 1rem;
        font-weight: bold;
    }

    .theme-changer select{
        width: 100px;
    }

    .mobile .Hamburger span{
        width: 22px;
        height: 1px;
        margin-left: 4rem;
    }

    .main .container{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column-reverse;
        height: 660px;
    }

    .main-photo img{
        height: 250px;
    }

    .main-text h2{
        font-size: 2.5rem;
    }
    
    .main-text .typing{
        margin-bottom: 1.5rem;
        font-size: 2rem;
    }

    .footer .container h3{
        font-size: .7rem;
    }

    .about .container{
        height: 1800px;
    }

    .about .my-info p{
        font-size: 0.6rem;
    }

    .about .my-education .education, .my-skills .skills, .about .my-info{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about .my-education .education .card, .my-skills .skills .card, .about .my-info .card{
        margin-bottom: 0.5rem;
        width: 300px;
    }

    .my-certificates .certificates{
        grid-template-columns: 1fr;
    }
}